/* fonts*/

h1 {
    font-family: 'Kavoon', cursive;
}

h2, h3 {
    font-family: 'Quicksand', sans-serif;
}

a {
    font-family: 'Poppins', sans-serif;
}

p, h5 {
   font-family: 'Rubik', sans-serif; 
}
